
.libs/
data/
thermopower_diffusion_out.e
thermopower_diffusion_out.e-s002
thermopower_diffusion_out.e-s003
thermopower_diffusion_out.e-s004
thermopower_diffusion_out.e-s005
thermopower_diffusion_out.e-s006
thermopower_diffusion_out.e-s007
billiald_thermopower_diffusion_out.e
billiald_thermopower_diffusion_out.e-s002
billiald_thermopower_diffusion_out.e-s003
billiald_thermopower_diffusion_out.e-s004
billiald_thermopower_diffusion_out.e-s005
billiald_thermopower_diffusion_out.e-s006
billiald_thermopower_diffusion_out.e-s007
thermopower_diffusion-opt
syntax_dump_thermopower_diffusion-opt
peacock_run_tmp.i
peacock_run_tmp_mesh.e
peacock_run_tmp_mesh.i
peacock_run_tmp_out.e
peacock_run_tmp_out.e-s002
peacock_run_tmp_out.e-s003
peacock_run_tmp_out.e-s004
peacock_run_tmp_out.e-s005
peacock_run_tmp_out.e-s006
peacock_run_tmp_out.e-s007
out.txt
yaml_dump_thermopower_diffusion-opt
yaml_dump_thermopower_diffusion-opt_raw
.idea/vcs.xml
